nav.menu-nav ul li.btn{
    list-style-type: none;
    display: inline-block;
}
nav.menu-nav ul li.btn a{
    color: blue;
    background-color: gold;
    text-decoration: none;
    padding: 10px;
}
nav.menu-nav ul li.btn:hover a{
    color: gold;
    background-color: blue;
    transition: 0.6s all;
}
img{
    padding-left: 256px;
}
nav{
    padding-left: 370px;
}
form{
    /* padding-left: 522px; */
    padding-left: 85%;
    background-color: gray;
}
input.envoyer{
    padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#478bf9;
	color:#fff;
	border-radius:2px;
	width:21%;
	border:none;
}
label{
    font-weight: bold;
}